@font-face {
    font-family: 'CormorantGaramond-SemiBold';
    font-style: normal;
    font-weight: 600;
    src: local('CormorantGaramond SemiBold'), local('CormorantGaramond-SemiBold'), url(/theme_Penguin/static/src/fonts/CormorantGaramond-SemiBold.ttf) format('truetype');
  }
@font-face {
    font-family: 'CormorantGaramond-Bold';
    font-style: normal;
    font-weight: 700;
    src: local('CormorantGaramond Bold'), local('CormorantGaramond-Bold'), url(/theme_Penguin/static/src/fonts/CormorantGaramond-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'PoiretOne-Regular';
  font-style: normal;
  font-weight: 400;
  src: local('PoiretOne Regular'), local('PoiretOne-Regular'), url(/theme_Penguin/static/src/fonts/PoiretOne-Regular.ttf) format('truetype');
}
